.idea
.settings
logs
target
.classpath
.project
*.iml
.dockerignore
gateway/.settings
gateway/target
gateway/.classpath
gateway/.project
resource-server-a/.settings
resource-server-a/target
resource-server-a/.classpath
resource-server-a/.project
resource-server-b/.settings
resource-server-b/target
resource-server-b/.classpath
resource-server-b/.project
